.hidden {
	display: none;
}
	
.left {
	float: left;
	width: 20%;
}

#wineslist ul {
	list-style: none;
}

#wineslist ul li,
#wineslist ul a	 { 
	display: inline-block;
	width: 90%;
	height: 1.7em;
}
#wineslist ul li {
	padding: 0.2em 10px;
	box-sizing: border-box;
}

#wineslist a {
	text-decoration: none;
	color: inherit;
}

#wineslist li.active {
	background-color: blue;
	color: white;
	border-radius: 10px;
}

#winedetails {
	margin-left: 21%;
}

label {
	display: inline-block;
	width: 100px;
}

input, textarea {
	width: 300px;
}

textarea { 
	height: 200px;
}